div.scrollable.tabs(id="tabs" percent-Height percent="100"  ng-style="style" ng-controller="tabsController" )

    ul.nav.nav-tabs
        li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)")
            a {{tab.title}}

    div( id="mainView" )
        div.tab-content(id="controlBox")
            //Data Entry Tab
            div.tab( id="one.tpl.html" ng-class="{hidden:!isActiveTab('one.tpl.html')}")
                div.alert.alert-info
                    a(ng-click="showAdd = ! showAdd; getUsers()") Add New Equipment&nbsp;
                        .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                        .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                div.container(ng-show='showAdd')
                    form(ng-controller='userTabController' novalidate)#login-form.well.span4
                        div
                            label Equipment ID
                            input.form-control.span1.required(ng-model='data.teamUserId')
                        div
                            label Equipment Type
                            input.form-control.span1.required(ng-model='data.email')
                        div
                            label Baseline
                            input.form-control.span1.required(ng-model='data.teamId')
                        div
                            label UIC
                            input.form-control.span1.required(ng-model='data.uic')
                        div
                            label Baseline
                            input.form-control.span1.required(ng-model='data.teamId')
                        button.btn.btn-primary(ng-click='addUser()')| Add

            div.tab( id="two.tpl.html" ng-class="{hidden:!isActiveTab('two.tpl.html')}" ng-controller="reportsController")

                div(id="reportsTable" ng-controller="trailTabController" )


                    br

                    span.col-sm-8(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text' )

                    br

                    h2 Reports

                    table.table.table-striped.table-condensed.table-hover
                        tr
                            th
                                a(href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse") ID
                                    .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'id' && !sortReverse")
                                    .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'id' && sortReverse")
                            th
                                a(href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
                                    .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'name' && !sortReverse")
                                    .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'name' && sortReverse")
                            th
                                a(href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse") Description
                                    .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'description' && !sortReverse")
                                    .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'description' && sortReverse")
                            th
                                a(href="#" ng-click="sortType = 'created'; sortReverse = !sortReverse") Created
                                    .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'created' && !sortReverse")
                                    .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'created' && sortReverse")
                            th
                                a(href="#" ng-click="sortType = 'createdby'; sortReverse = !sortReverse") Created By
                                    .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'createdby' && !sortReverse")
                                    .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'createdby' && sortReverse")
                            th
                                a(href="#") View
                        tbody
                            tr(ng-repeat="trail in trails | orderBy:sortType:sortReverse | filter:searchName")
                                td {{trail.id}}
                                td {{trail.name}}
                                td {{trail.description}}
                                td {{trail.created}}
                                td {{trail.createdBy}}
                                td {{trail.view}}

            div.tab( id="three.tpl.html" ng-class="{hidden:!isActiveTab('three.tpl.html')}" ng-controller="adhocReportController")

                div(id="filterTable" ng-controller="trailTabController" )

                div
                    br

                    div Current View:

                    span.col-sm-8(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text' )

                    table
                        tr
                            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


                            td
                                table.table-bordered
                                    tr
                                        th
                                            a(href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse") Filter
                                                .glyphicon.glyphicon-arrow-up(ng-show="sortType == 'id' && !sortReverse")
                                                .glyphicon.glyphicon-arrow-down(ng-show="sortType == 'id' && sortReverse")
                                    tbody
                                        tr
                                            td add new filter (+)
                    button.btn.btn-primary.btn-sm(ng-click="open('lg')")
                        .glyphicon.glyphicon-plus
                    button.btn.btn-primary.btn-sm(ng-click="open('lg')")
                        .glyphicon.glyphicon-minus


                    br
                    br
                    br
                    br


                    table.table-bordered
                        tr
                            td
                                table.table-bordered
                                    tr
                                        td add new filter (+)

                            td
                                table.table-bordered
                                    tr
                                        td add new filter (+)


                            td
                                div
                                    br
                                    br

                                    div Table:
                                    div.col-sm-8(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text' )

                                    br
                                    br

                                    div Column:
                                    div.col-sm-8(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text' )


                                    br
                                    br

                                    table.table-bordered

                                        tr test
                                            th Test
                                        tr
                                            td Test1
                                        tr
                                            td Test2
                                        tr
                                            td Test3












